/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html, body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}
.nav-wrapper .brand-logo {
    padding: 10px 0;
}

.icon-block {
  padding: 0 15px;
}

body > section {
    padding: 80px 0 70px 0;
}

section.banner .banner-img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}
section.banner .row {
    margin-bottom: 0;
}
section.banner h1 {
    margin-top: 5px;
}
section.banner h1 span:last-child {
    letter-spacing: -4px;
}
section.banner .info {
    padding-left: 20px;
}
section.banner .info .buttons {
    padding-left: 20px;
}
section.banner .info .buttons a {
    margin-right: 15px;
}

section.strongs .icon-block h2 i {
    font-size: 145px;
    line-height: 145px;
}

section.license .row {
    margin-bottom: 0;
}
section.license h2 {
    margin-top: 5px;
}

footer.page-footer {
    margin-top: 0;
}