a { text-decoration: none; }
/***********************************************************
LZTO
***********************************************************/
#lzto {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	border-right: 2px solid #d2322d;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;
	font-family: Arial, Helvetica, sans-serif;
}


/***********************************************************
CAMVAS
***********************************************************/
#lzto .canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	background: #444 url(../img/dark_banner_texture_seven.png) repeat top left;
	-webkit-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
#lzto .canvas > .options_loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
#lzto .canvas  > .options_loader > .overlay {
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 1;	
	-webkit-transition: background 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: background 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition: background 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition: background 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: background 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);	
}
#lzto .canvas  > .options_loader img {
	opacity: 0;
	display: block;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 82px;
	height: 82px;
	margin-top: -81px;
	margin-left: -41px;
	-webkit-transition: margin 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: margin 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition: margin 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition: margin 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: margin 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

#lzto .canvas  > .options_loader.active {
	visibility: visible;
}
#lzto .canvas  > .options_loader.active > .overlay {
	opacity: .95;
}
#lzto .canvas  > .options_loader.active img {
	opacity: 1;
	margin-top: -41px;
}
/***********************************************************
PREVIEW
***********************************************************/
#lzto #preview_iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0 auto;
	box-shadow: 0px 0px 10px #000;
	background: #fff;
	-webkit-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}


/***********************************************************
MENU INFO
***********************************************************/
#lzto .info {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 320px;
	height: 100%;
	background: #21A3B1;
	color: #fff;
	-webkit-transition: left 200ms linear, opacity 160ms linear, visibility 50ms linear;
    -moz-transition: left 200ms linear, opacity 160ms linear, visibility 50ms linear;
    -o-transition: left 200ms linear, opacity 160ms linear, visibility 50ms linear;
    -ms-transition: left 200ms linear, opacity 160ms linear, visibility 50ms linear;
    transition: left 200ms linear, opacity 160ms linear, visibility 50ms linear;
    opacity: 0;
    visibility: hidden;
}
#lzto .info.active {
	left: 320px;
    opacity: 1;
    visibility: visible;
}
#lzto .info > .inner {
	position: relative;
	top: 50%;
	margin: 0 20px 0 20px;
	margin-top: -50%;
	
}
#lzto .info > .inner p {
    font-size: 16px;
    text-align: justify;
}

/***********************************************************
MENU
***********************************************************/
#lzto .menu {
	width: 280px;
	height: 100%;
	padding-top: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: #444;
	border-right: 3px solid #d9534f;
	/*border-top: 1px solid #333;*/
	-webkit-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
#lzto .menu h2 {
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin: 0;
	padding-top: 10px;
	/* background: #666 url( ../img/gear-icon.png ) no-repeat 100% center; */
	padding-bottom: 10px;
	border-bottom: 1px solid #555;
	font-weight: normal;
	text-shadow: 0 1px 1px #222;
	text-transform:uppercase
}
/* FIRST LEVEL
**************************************************************************/
#lzto .menu .menu_container > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#lzto .menu .menu_container > ul > li {
	padding: 0;
	display: block;
	float: left;
	width: 100%;
}
#lzto .menu .menu_container > ul > li > a {
	display: block;
	width: 90%;
	float: left;
	text-align: right;
	padding-right: 10%;
	color: #ccc;
	font-size: 14px;
	line-height: 45px;
	height: 45px;
	-webkit-text-shadow: 0 1px 1px #333;
	-moz-text-shadow: 0 1px 1px #333;
	text-shadow: 0 1px 1px #333;
	-webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
	position: relative;
}

#lzto .menu .menu_container > ul > li > a > span {
	display: block;
	position: absolute;
	top: 0;
	right: 25px;
	height: 45px;
	width: 25px;
	background: url(../img/arrow-right-icon.png) no-repeat center center;
	-webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
	opacity: 0;
}
#lzto .menu .menu_container > ul > li:hover > a {
	color: #222;
	text-decoration:  none;
	background: #fff;
	width: 85%;
	padding-right: 15%;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}
#lzto .menu .menu_container > ul > li:hover > a > span {
	right: 3px;
	opacity: 1;
}
#lzto .menu .menu_container > ul > li .description {
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 5px;
	top: 5px;	
	background: url(../img/info-icon.png) no-repeat center center;
	cursor: pointer;
}





/* SECOND LEVEL
**************************************************************************/
#lzto .menu .menu_container div.menu_form {
	display: block;
	bottom:  0;
	position: absolute;
	top: 0;
	left: -100%;
	opacity: 0;
	background: #444;
	-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
    -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
    -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
    transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
	visibility: hidden
}
#lzto .menu .menu_container div.menu_form.active {
	left: 0;
	opacity: 1;
	visibility: visible;
}
#lzto .menu .menu_container div.menu_form h3 {
	height: 45px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	margin:  0;
	font-size:  16px;
	line-height:  45px;
	width:  87%;
	padding-left: 13%;
	text-align:  left;
	font-weight:  normal;
	background: #ce2b37 url( ../img/menu-icon.png ) no-repeat 0 center;
}



/* FORM
 **********************************************************************/
#lzto .menu_form {
	position: relative;
	width: 100%;
	padding: 0;
	z-index: 10;
}
#lzto .menu_form label {
	display: block;
	margin-bottom: 5px;
	color: #ccc;
	font-size: 12px;
}


/* CONTAINER */

#lzto .menu_form .form-group-container {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 45px;
	width: 100%;
	padding-right: 0.5%;
	overflow: hidden;
}
#lzto .menu_form .form-group-container .scroll {
	position: relative;	
}


/* GROUP */

#lzto .menu_form .form-group {
	border-bottom: 1px solid #222;
	border-top: 1px solid #555;
	padding: 5%;
	float: left;
	width: 90%;
	position: relative;
}
#lzto .menu_form .form-group:first-child {
	border-top: none;
}
#lzto .menu_form .form-group:last-child {
	border-bottom: none;
}
#lzto .menu_form .form-group:hover {
	background: #383838	;
}

/* FIELDSET */

#lzto .menu_form fieldset {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}
#lzto .menu_form fieldset legend {
	display: block;
    width: 100%;
	font-size: 14px;
	color: #ccc;
	line-height: 45px;
	height: 45px;
    text-indent: 15px;
	font-weight: 700;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	cursor: pointer;
}
#lzto .menu_form fieldset .form-group {
	padding: 5% 0;
	width: 100%;
}

#lzto .menu_form fieldset > .fieldset_inner {
	width: 100%;
	float: left;
    height: 46px;
	padding: 0;
	overflow: hidden;
    border-bottom: 1px solid #222;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
	 transition: all 200ms linear;
}
#lzto .menu_form fieldset > .fieldset_inner .form-group {
	width: 94%;
	padding: 5% 3%;
}
#lzto .menu_form fieldset.open > .fieldset_inner {
    background: #333;
}
#lzto .menu_form fieldset.open > .fieldset_inner legend {
	background: #32C9D9;
}

/* FIELDS */

#lzto .menu_form input,
#lzto .menu_form textarea {
	width: 100%;
	height: 35px;
	color: #fff;
	padding: 0 3%;
	background-color: #444;
	border: 1px solid #666;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 6px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 6px rgba(0,0,0,.4);
	vertical-align: top;	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#lzto .menu_form textarea {
	min-height: 100px;
}
#lzto .menu_form select:focus,
#lzto .menu_form textarea:focus,
#lzto .menu_form input:focus {
	background-color: #fff;
	border: 1px solid #fff;
	color: #333;
}



/* CHECKBOX */
#lzto .menu_form .checkbox {
	padding-top: 35px;	
}
#lzto .menu_form .checkbox > label {
	float: left;
	width: 70%;
}
#lzto .menu_form .checkbox > div {
	width: 29%;
	float: right;
}
#lzto .menu_form .checkbox input {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 10px;
}
#lzto .menu_form .radio label {
	float: left;
	margin-right: 10px;
	line-height: 25px;
}
#lzto .menu_form .radio input {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 5px;
}



/* SELECT FIELD */

#lzto .menu_form select {
	width: 100%;
	color: #fff;
	padding: 0 3%;
	background-color: #383838;
	border: 1px solid #666;
	display: inline-block;
	vertical-align: top;	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#lzto .menu_form .select-box {
	width: 100%;	
}
#lzto .menu_form .select-box > a {
	width: 80%;
	padding: 10px 15% 10px 5%;
	border: solid 1px #555;
	color: #F0F0F0;
	background-image: none;
    background: #5A5A5A;
	border-radius: 0px;

	border: solid 1px #2C2C2C;
}
#lzto .menu_form .select-box select {
	width: 100%;
}


/* TEXTURES FIELDS */

#lzto .menu_form .texture_field,
#lzto .menu_form .color_field,
#lzto .menu_form .texture_field > ul,
#lzto .menu_form .color_field > ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}
#lzto .menu_form .texture_field.small li,
#lzto .menu_form .color_field.small li {
	display: inline-block;
	float: left;
	width: 11%;
	height: 37px;
	margin: 2px;
}
#lzto .menu_form .texture_field.small li span,
#lzto .menu_form .color_field.small li > span {
	display: block;
	height: 90%;
	width: 90%;
	margin: 5%;
	background: #666;
	-webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}
#lzto .menu_form .texture_field.small li.active span,
#lzto .menu_form .texture_field.small li span:hover,
#lzto .menu_form .color_field.small li.active > span,
#lzto .menu_form .color_field.small li > span:hover {
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
	border: 1px solid #fff;
}
#lzto .menu_form .texture_field.medium li,
#lzto .menu_form .color_field.medium li {
	display: inline-block;
	float: left;
	width: 15.1%;
	height: 47px;
	margin: 2px;
}
#lzto .menu_form .texture_field.medium li span,
#lzto .menu_form .color_field.medium li > span {
	display: block;
	height: 90%;
	width: 90%;
	margin: 5%;
	background: #666;
	-webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}
#lzto .menu_form .texture_field.medium li.active span,
#lzto .menu_form .texture_field.medium li span:hover,
#lzto .menu_form .color_field.medium li.active > span,
#lzto .menu_form .color_field.medium li > span:hover {
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
	border: 1px solid #fff;
}

#lzto .menu_form .texture_field.large li,
#lzto .menu_form .color_field.large li {
	display: inline-block;
	float: left;
	width: 23.5%;
	height: 57px;
	margin: 2px;
}
#lzto .menu_form .texture_field.large li span,
#lzto .menu_form .color_field.large li > span {
	display: block;
	height: 90%;
	width: 90%;
	margin: 5%;
	background: #666;
	-webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}
#lzto .menu_form .texture_field.large li.active span,
#lzto .menu_form .texture_field.large li span:hover,
#lzto .menu_form .color_field.large li.active > span,
#lzto .menu_form .color_field.large li > span:hover {
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
	border: 1px solid #fff;
}
#lzto .menu_form .color_field li span > span.accent_color {
	display: block;
	float: left;
	height: 50%;
	width: 50%;
	margin: 25%;	
}

/* SLIDERANGE */
#lzto .menu_form .sliderange_field,
#lzto .menu_form .sliderange_field .slider {
	width: 100%;	
}

#lzto .menu_form .sliderange_field > input {
	width: 47%;
	float: left;
	margin-right: 5%;	
}
#lzto .menu_form .sliderange_field > input.right {
	margin-right: 0;	
}

#lzto .menu_form .sliderange_field > div.slider {
	margin-top: 7px;	
}
#lzto .menu_form .sliderange_field > input.range_min,
#lzto .menu_form .sliderange_field > input.range_max {
	width: 50%;
	margin: 0 auto;
	float: none;
}
#lzto .ui-slider-range {
	background: #00BED6 !important;	
}


/* UPLOAD BUTTONS */
#lzto .menu_form .form-group.file label {
	float: left;
	width: 60%
}
#lzto .upload_button .qq-upload-button {
	min-height: 30px;
	width: 27%;
	margin-right: 8%;
	float: right;
	cursor: pointer;
}
#lzto .upload_button .qq-upload-button > button {
	width: 100%;
	height: 28px;
	background: #32C9D9;
	color: #fff;
	font-size: 10px;
	padding: 0;
	border: none;
	cursor: pointer;
}
#lzto .upload_button .qq-upload-button > input {
	cursor: pointer;	
}
#lzto .upload_button .qq-upload-list {
	width: 100%;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}
#lzto .upload_button .qq-upload-list > li {
	display: inline-block;
	width: 100%;
	float: left;
}
#lzto .upload_button li {
	width: 100%;
	padding: 0; 
	background: #333;
}
#lzto .upload_button li > span {
	display: block;	
}
#lzto .upload_button .qq-progress-bar-container-selector {
	width: 100%;
	float: left;
	clear: both;
	background: #555;
	position: relative;
}
#lzto .upload_button .qq-progress-bar-container-selector .qq-progress-bar {
	height: 1px;
	width: 100%;
	float: left;
	background: #32C9D9;	
	margin-top: 0;
}
#lzto .upload_button .qq-progress-bar-container-selector .qq-upload-status-text {
	position: absolute;
	top: 3px;
	left: 3px;
	color: #ccc;
	font-size: 11px;
	line-height: 12px;
}
#lzto .upload_button li > .qq-upload-file {
	color: #ccc;
	font-size: 11px;
	float: left;
	width: 60%;
	word-wrap: break-word;
	padding-left: 2%;
	padding-top: 3px;
}
#lzto .upload_button li > .qq-upload-size {
	color: #00BED6;
	font-size: 11px;
	float: left;
	widht: 20%;
	margin-top: 3px;
}
#lzto .upload_button li > a {
	display: block;
	float: right;
	width: 15px;
	height: 15px;
	margin-top: 5px;
	margin-right: 5px;
}
#lzto .upload_button li > a.qq-upload-delete {
	width: 15px;
	height: 15px;
	background: url( ../img/close-icon15.png ) no-repeat center center;	
}
#lzto .upload_button li > .thumb {
	width: 100%;
	clear: both;
	margin-top: 5px;
	border-top: 1px solid #444;
}
#lzto .upload_button li > .thumb > img {
	max-width: 90%;
	display: block;
	margin: 10px auto;	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#lzto .upload_button .qq-upload-fail .qq-progress-bar-container-selector { height: 20px; }
#lzto .upload_button .qq-upload-fail .qq-upload-file { color: #E25252; }
#lzto .upload_button .qq-upload-fail .qq-upload-size { color: #E25252; }
#lzto .upload_button .qq-upload-fail .qq-upload-delete,
#lzto .upload_button .qq-upload-fail .thumb { display: none; }


/* ERROR */

#lzto .menu_form .error {
	border-color: #F00;
}
#lzto .menu_form p.error {
	font-size: 11px; text-align: right; color: #F00; margin: 0; margin-top: 4px;
}


/* MENU ACTIONS
 ***********************************************************************/
#lzto .menu .menu_action {
	height: 195px;
	width: 55px;
	position: absolute;
	bottom: 5%;
	right: 0;
	opacity: 0;	
	visibility: hidden;
	overflow: hidden;
}
#lzto .menu .menu_action .side_btn {
	width: 45px;
	height: 45px;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	border: none;
	color: #fff;
	-webkit-transition: all 50ms linear;
    -moz-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    -ms-transition: all 50ms linear;
    transition: all 50ms linear;
	cursor: pointer;
	z-index: 0;
}
#lzto .menu .menu_action .side_btn > img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
}
#lzto .menu .menu_action .preset {
	top: 5px;
	width: 35px;
	height: 35px;
	background: #444;
}
#lzto .menu .menu_action .reset {
	top: 40px;
	width: 35px;
	height: 35px;
	background: #444;
}
#lzto .menu .menu_action .submit {
	top: 75px;
	background: #76A543;
}
#lzto .menu .menu_action .full_screen {
	top: 117px;
	width: 35px;
	height: 35px;
	background: #444;
}
#lzto .menu > .toggle_btn {
	position: absolute;
	top: 50%;
	right: -55px;
	height: 55px;
	width: 55px;
	background: #d9534f; /* #32C9D9 */
	cursor: pointer;
	margin-top: -27px;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
	background-image: url(../img/gear-icon.png );
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 10;
}

#lzto .menu > .close_btn {
	position: absolute;
	top: 0;
	right: -60px;
	opacity: 0;
	height: 45px;
	width: 45px;
	background: #ce2b37;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	visibility: hidden;
	background-image: url(../img/close-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 10;
}
#lzto .menu > .close_btn.active {
	visibility: visible;
	right: -45px;
	opacity: 1;
	cursor:  pointer;
}
#lzto .menu > .close_btn.active:hover {
	background-color: #d9534f;	
}



/*************************************************************
FULL SCREEN
*************************************************************/
#sidebar.full_screen,
#header.full_screen,
#content-head.full_screen,
#footer.full_screen {
	-webkit-transition: all 400ms linear;
	-moz-transition: all 400ms linear;
	-o-transition: all 400ms linear;
	-ms-transition: all 400ms linear;
	transition: all 400ms linear;
	overflow: hidden;
	padding: 0;
	margin: 0;
	opacity: 0;
}
#footer.full_screen > a {
	display: none;
}
#header.full_screen,
#content-head.full_screen,
#footer.full_screen {
	height: 0;
	
}
#content.full_screen {
	padding: 0;
	margin: 0;
}
#sidebar.full_screen {
	width: 0;
}



/***********************************************************************
 * PRESETS
 ***********************************************************************/

#lzto #presets_box > ul {
	list-style: circle;
	color: #32C9D9;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-right: 20px;
	background:#333
}
#lzto #presets_box > ul > li {
	position: relative;
}
#lzto #presets_box > ul > li > a {
	display: inline-block;
	width: 90%;
	margin-right: 10%;
	height: 25px;
	line-height: 25px;
	color: #fff;
	font-size: 13px;
	position: relative;
}
#lzto #presets_box > ul > li > a:hover {
	left: 2px;	
	color: #32C9D9;
}
#lzto #presets_box > ul > li span.delete_preset {
	display: inline-block;
	height: 16px;
	width: 16px;
	position: absolute;
	top: 4px;
	right: 0;
	cursor: pointer;
	opacity: .6;
}
#lzto #presets_box > ul > li:hover span.delete_preset,
#lzto #presets_box > ul > li span.delete_preset:hover {
	width: 18px;
	height: 18px;	
	top: 3px;
	right: -3;
	opacity: 1;
}
#lzto #presets_box > ul > li span.delete_preset:hover img {
	width: 18px;
	height: 18px;	
}


/***********************************************************************
 * MENU OPEN
 ***********************************************************************/
#lzto .menu_form fieldset.open legend {
    color: #333;
}
#lzto .menu_form fieldset.open > div {
	height: auto;
	border-color: #32C9D9;	
}
#lzto .menu_form fieldset.open legend {
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.77);
    -moz-box-shadow:    0px 3px 11px 0px rgba(0, 0, 0, 0.77);
    box-shadow:         0px 3px 11px 0px rgba(0, 0, 0, 0.77);
}
#lzto .menu.open {
	border-right-color: #222;
}
#lzto .menu.open,
#lzto .menu.open > .toggle_btn {
	box-shadow: 4px 0 16px rgba( 0, 0, 0, 0.5);
	-webkit-box-shadow: 4px 0 16px rgba( 0, 0, 0, 0.5);
    -moz-box-shadow: 4px 0 16px rgba( 0, 0, 0, 0.5);
    -o-box-shadow: 4px 0 16px rgba( 0, 0, 0, 0.5);
    -ms-box-shadow: 4px 0 16px rgba( 0, 0, 0, 0.5);
}
#lzto .menu.open > .toggle_btn {
	-ms-transform: rotate(360deg); /* IE 9 */
	-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
	transform: rotate(360deg);
}
#lzto .menu.open > .toggle_btn,
#lzto .menu.open > .toggle_btn:hover {
	background-color: #222;
	background-image: url(../img/gear-icon-hover.png );
}
#lzto .menu.open .menu_action {
	right: -55px;
	opacity: 1;	
	visibility: visible;
}
#lzto .menu.open .menu_action .side_btn:hover {
	color: #fff;
	width: 55px;
	height: 55px;
	z-index: 1;	
}
#lzto .menu.open .menu_action .side_btn.preset:hover {
	top: 2px;
	width: 40px;
	height: 40px;
	background: #4280B3;
}
#lzto .menu.open .menu_action .side_btn.reset:hover {
	top: 38px;
	width: 40px;
	height: 40px;
	background: #4280B3;
}
#lzto .menu.open .menu_action .side_btn.submit:hover {
	top: 70px;
	background: #76A543;
}
#lzto .menu.open .menu_action .side_btn.full_screen:hover {
	width: 40px;
	height: 40px;
	background: #D9534F;
}



/***********************************************************
OVERWRITES
***********************************************************/
#content-page {
	padding: 0 !important;
}
#content-page > div > .grid-first-row,
#content-page > div > .grid-first-row > .row-wrapper {
	margin: 0 !important;
}
#content-head,
#footer-wrapper { height: 0; display: none; visibility: hidden; }
.ui-dialog .ui-dialog-content img.loading {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
	display: none;
}


/*************************************************************
 * RESPONSIVENESS
*************************************************************/
@media screen and ( max-width: 768px ) { 
	#lzto .menu {
		width: 260px;
	}
	#lzto .info.active {
		width:260px;
		left: 260px;	
	}
}

@media screen and ( min-width: 768px ) and ( max-width: 992px ) {
	#lzto .menu {
		width: 280px;
	}
	#lzto .info.active {
		width:280px;
		left:280px;	
	}
}

@media screen and ( min-width: 992px ) and ( max-width: 1200px ) {
	#lzto .menu {
		width: 300px;
	}
	#lzto .info.active {
		width:300px;
		left:300px;	
	}
}
@media screen and ( min-width: 1201px ) {
	#lzto .menu {
		width: 320px;
	}
	#lzto .info.active {
		width:320px;
		left:320px;	
	}
}




